<div style="text-align:left">
  <button md-raised-button (click)="reminder()" color="primary" [ngStyle]="{'margin': '20px'}">重送確認信</button>
</div>
<kendo-grid [data]="view | async" [pageSize]="pageSize" [skip]="state.skip" [sortable]="true" [sort]="state.sort" [pageable]="true"
  (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="STOCK_OPTION_YEAR"  title="增資年度"></kendo-grid-column>
  <kendo-grid-column field="STOCK_OPTION_NAME"  title="增資名稱"></kendo-grid-column>
  <kendo-grid-column field="REPLY_DATE"  title="回覆日">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{(dataItem.REPLY_DATE | date:'y' ) - 1911}}/{{dataItem.REPLY_DATE | date:'M'}}/{{dataItem.REPLY_DATE | date:'d'}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="UNIT_PRICE"  title="單價"></kendo-grid-column>
  <kendo-grid-column field="PAYMENT_PERIOD_FROM"  title="付款起始日">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{(dataItem.PAYMENT_PERIOD_FROM | date:'y' ) - 1911}}/{{dataItem.PAYMENT_PERIOD_FROM | date:'M'}}/{{dataItem.PAYMENT_PERIOD_FROM
      | date:'d'}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="PAYMENT_PERIOD_TO"  title="付款結束日">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{(dataItem.PAYMENT_PERIOD_TO | date:'y' ) - 1911}}/{{dataItem.PAYMENT_PERIOD_TO | date:'M'}}/{{dataItem.PAYMENT_PERIOD_TO
      | date:'d'}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="EXPIRE_DATE" [sortable]="false" title="過期日">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{(dataItem.EXPIRE_DATE | date:'y' ) - 1911}}/{{dataItem.EXPIRE_DATE | date:'M'}}/{{dataItem.EXPIRE_DATE | date:'d'}}
    </ng-template>
  </kendo-grid-column>
  <div *kendoGridDetailTemplate="let dataItem">
    <app-hr03010w-detail-grid [dataItem]="dataItem"></app-hr03010w-detail-grid>
  </div>
</kendo-grid>
