<div>
  <h2 md-dialog-title>Dialog</h2>
  <hr>
  <md-dialog-content>
    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe placeat accusantium facere laboriosam non, atque incidunt sed temporibus ad molestiae consequatur at impedit nam suscipit repudiandae vero dicta doloribus, deleniti. -->
    <strong>{{data}}</strong>
  </md-dialog-content>
  <hr>
  <md-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()">OK</button>
    <!-- <button md-raised-button (click)="onCloseConfirm()">CONFIRM</button>
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button> -->
  </md-dialog-actions>
</div>
